

body{
   
    font-family: "Inter", sans-serif;
    color:#171717;
}
h1{
    font-size: 36px;
    font-weight: 800;
    line-height: 2.5;
}
h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 2;
}
p, li{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    
}

