*{
    box-sizing: border-box;
}

body{
   
    font-family: "Inter", sans-serif;
    color:#171717;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
.header, .footer    {
    width: 100%;
    font-size: 1rem ;
    font-weight: 500;
    line-height: 1.5rem;
    padding-left: 2rem;
    border-top: 1px solid #171717;
    border-bottom: 1px solid #171717;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    max-width: 768px;
    margin: 0 auto;
}
.content{
    display: flex;
    flex-direction: column;
    column-gap: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
h1{
    font-size: 36px;
    font-weight: 800;
    
}
h2{
    font-size: 24px;
    font-weight: 700;
}
p, li{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75rem;
}

