
.categories__title {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.categories__text {
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
  color: rgba(96, 100, 108, 1);
  max-width: 48rem;
}

.categories__intro {
  margin-bottom: 2.5rem;
}

.categories__list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}