
.category {
  max-width: 24rem;
  max-height: 30rem;
}

.category__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.category:hover .category__title{
  text-decoration: underline;
}

.category__title {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.category__description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--muted-foreground);
}

@media (min-width: 768px) {
  .category {
    flex: 1;
  }

  .category__img {
    aspect-ratio: 4 / 5;
  }
}