.footer {
  padding: 3rem 1rem 0 1rem;
  max-width: 80rem;
  margin: 0 auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(217, 217, 224, 1);
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.footer_nav {
  width: calc((100% - 1rem)/2);
}

.footer__nav-title {
  font-size: 500;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__nav-item {
  font-size: 0.875rem;
}

.footer__form {
  max-width: 28rem;
}

.footer__form-title {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.footer__form-text {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.footer__container-form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.footer__form-email {
  border: 1px solid rgba(205, 206, 214, 1);
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  flex-grow: 1;
}

.footer__form-btn {
  height: 2.5rem;
  padding: 0.5625rem 0.875rem;
  background-color: rgba(240, 240, 243, 1);
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid white;
}

.footer__copyright {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 768px) {
  
  .main-footer{
      flex-wrap: nowrap;
  }
}

@media (min-width: 1440px) {
  .footer__nav {
    flex-direction: row;
  }

  .main-footer {
      flex-wrap: nowrap;
      flex: 1;
  }
}