
.nav__item{
    font-size: .875rem;
    font-weight: 500;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.nav__item:hover{
    color: #F0F1FE;
    background-color: var(--accent-background);
}
.nav__item a{
    color:#60646C;
}

