
.nav-container{
    width: 90%;
    display: flex;
    row-gap: 2rem;
    justify-content: start;
    align-items: center;
}

.nav-links{
    list-style: none;
    font-weight: 400;
    display: flex;
    justify-content: start;
    column-gap: 2rem;
}
