.quality__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quality__card-icon {
  margin-bottom: 1.5rem;
}

.quality__card-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

.quality__card-description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
  color: rgba(96, 100, 108, 1);
}

@media (min-width: 768px) {
  .quality__card {
    width: calc((100% - 2rem)/2);
  }
}

@media (min-width: 1440px) {
  .quality__card {
    flex: 1;
  }
}