.categories{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories__container{
    width: 80rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
}
.categories__header{
    width: 48rem;
}
.categories__header-title{
    color: #1C2024;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.categories__header-description{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #60646C;
}
.categories__content{
    width: 100%;
    display: flex;
    column-gap: 2rem;
}
.categories__product-title{
    font-size: 1rem;
    font-weight: 600;
    color: #1C2024;
    line-height: 1.5rem;
    margin:0;
    margin-top: 1rem;
}
.categories__product-description{
    color: #60646C;
    font-size: .875rem;
    line-height: 1.25rem;
    margin:0;
    margin-top: .5rem;
}
.categories__product{
    width: 24rem ;


}
.categories__product-image{
    width: 24rem;
    height: 30rem;
    border-radius: .75rem;
    object-fit: cover;
}
/**HERO**/
.hero{
    width: 100%;
    height: 48rem;
    background-image: url("../images/hero/background-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.hero__container{
    max-width:48rem;
    text-align: center;
    padding: 0 6rem;
}
.hero__title{
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 3.75rem;
    margin-bottom: 1rem;
}
.hero__text{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 2rem;
}
.hero__button{
    background-color: rgba(91,91,214,1);
    color: white;
    padding: 0.6878rem 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    display:inline-block;
    text-decoration: none;
    margin-top: 2rem;
}