.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #60646C;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}
.footer__container{
    display: flex;
    flex-direction: column;
    margin: 4rem 1rem;
    row-gap: 2rem;

}
.footer__nav{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2rem;
}

.footer__nav-links{
    width: calc((100% - 1rem) / 2);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.footer__nav-title, .footer__subscription-title{
    color: #1C2024;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    
}

.footer__nav-item{
    margin:0;
    color: #60646C;
    font-size: .875rem;
}
.footer__nav-item a{
    text-decoration: none;
    color: #60646C;
}

.footer__nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.footer__subscription-title{
    margin-bottom: 1.5rem;
}
