*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
   
    font-family: "Inter", sans-serif;
    color:#171717;
    font-size: 100%;
    
}
h1{
    font-size: 2.25rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
h2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}
p, li{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}
li{
    margin-left: 1rem;
    margin-top: 0.5rem;
}
p{
    margin-top: 1.25rem;
}

.header, .footer    {
    width: 100%;
    font-size: 1rem ;
    font-weight: 500;
    line-height: 1.5rem;
    min-height: 4rem;
   
}
.container{

    max-width: 768px;
    margin: 3rem auto;
}
.content{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.logo{
    color:#000;
    text-decoration: none;
}

.nav-container{
    width: 90%;
    display: flex;
    row-gap: 2rem;
    justify-content: start;
    align-items: center;
}

.nav-links{
    list-style: none;
    font-weight: 400;
    display: flex;
    justify-content: start;
    column-gap: 2rem;
}
/*class for inputs*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}